.container{
    background-color: rgb(245, 217, 181);
    height: 100%;
    width: 73%;
    margin-left: 330px;
    margin-right: 330px;
    padding-bottom: 10px;
    margin-top: -570px;
}
.aaaaa{
    background-color: rgb(247, 234, 217);
}
.row{
    margin-top: 10px;
}
.card {
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.btn-danger{
    margin-left: 5px;
}
.card-header {
    border-bottom-color: #000000;
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    padding: 10px 25px;
    display: flex;
    align-items: center;
}
.card .card-header, .card .card-body, .card .card-footer {
    background-color: transparent;
    padding: 20px 25px;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color:  rgb(245, 217, 181);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
b{
    color: green;
}
.az{
    margin-top: 20px;
}
.bu22{
    margin-left:7px;
    margin-bottom: 0px;
}
.carde {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
}
.w-60 {
    width: 90px;
    height: 100px;
}
.a{
    color:green;
}

.azer{
    margin-left: 710px;
    margin-top: -35px;
    margin-bottom: 10px;
}
.ccc{
    height: 200px;
    margin-left: 100px;
}
input.ng-invalid.ng-touched{
    border: 2px solid rgb(236, 12, 12);
}
select.ng-invalid.ng-touched{
    border: 2px solid rgb(236, 12, 12);

}
.cc{color: red;}













.modalz-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modalz-confirm .modalz-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modalz-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modalz-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modalz-confirm .form-control, .modalz-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modalz-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modalz-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modalz-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background:red;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modalz-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modalz-confirm.modal-dialog {
	margin-top: 80px;
}
.modalz-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: red;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modalz-confirm .btn:hover, .modalz-confirm .btn:focus {
	background: red;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}












.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.11);
    display: table;
    width: 100%;
  }
  
  .alert-white {
    background-image: linear-gradient(to bottom, #fff, #f9f9f9);
    border-top-color: #d8d8d8;
    border-bottom-color: #bdbdbd;
    border-left-color: #cacaca;
    border-right-color: #cacaca;
    color: #404040;
    padding-left: 61px;
    position: relative;
  }
  
  .alert-white.rounded {
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  
  .alert-white.rounded .icon {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
  }
  
  .alert-white .icon {
    text-align: center;
    width: 45px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bdbdbd;
    padding-top: 15px;
  }
  
  
  .alert-white .icon:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    right: -6px;
    margin-top: -3px;
    background: #fff;
  }
  
  .alert-white .icon i {
    font-size: 20px;
    color: #fff;
    left: 12px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
  }
  /*============ colors ========*/
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  
  .alert-white.alert-success .icon, 
  .alert-white.alert-success .icon:after {
    border-color: #54a754;
    background: #60c060;
  }
  
  .alert-info {
    background-color: #d9edf7;
    border-color: #98cce6;
    color: #3a87ad;
  }
  
  .alert-white.alert-info .icon, 
  .alert-white.alert-info .icon:after {
    border-color: #3a8ace;
    background: #4d90fd;
  }
  
  
  .alert-white.alert-warning .icon, 
  .alert-white.alert-warning .icon:after {
    border-color: #d68000;
    background: #fc9700;
  }
  
  .alert-warning {
    background-color: #fcf8e3;
    border-color: #f1daab;
    color: #c09853;
  }
  
  .alert-danger {
    background-color: #f2dede;
    border-color: #e0b1b8;
    color: #b94a48;
  }
  
  .alert-white.alert-danger .icon, 
  .alert-white.alert-danger .icon:after {
    border-color: #ca452e;
    background: #da4932;
  }