<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<app-header></app-header>

<body>
    <div class="container" id="main-container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h2>Liste de séances </h2>
                </div>
                <div class="form-group mb-2">

                    <button type="button" (click)="onOpenModal(null,'add')" class="btn btn-primary bu22"
                        data-toggle="modal" data-target="#exampleModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path
                                d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                        </svg>
                        Ajouter
                    </button>

                    <div class="form-inline">
                        <div class="input-group aaaa">
                            <input (ngModelChange)="searchSeance(key.value)" #key="ngModel" ngModel type="text"
                                class="form-control" placeholder="Id seance..." aria-label="Username"
                                aria-describedby="basic-addon1">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" (click)="ngOnInit()">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>

                                </button>
                            </div>
                        </div>

                        <!-- alerttttttttt --------------------------------------->
                        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
                            rel="stylesheet">
                        <div class="container bootstrap snippets bootdey">
                            <br>
                            <div class="alert alert-success alert-white rounded" *ngIf="aletSuccess">
                                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                                <div class="icon">
                                    <i class="fa fa-check"></i>
                                </div>
                                <strong>Succès!</strong>
                                {{message}}
                            </div>
                            <div class="alert alert-danger alert-white rounded" *ngIf="aletEroor">
                                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                                <div class="icon">
                                    <i class="fa fa-times-circle"></i>
                                </div>
                                <strong> Erreur !</strong>
                                {{message}}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6" *ngFor="let s of seances">
                            <div class="card-box bg-orange">
                                <div class="inner">

                                    Heure debut
                                    <h3> {{s.heureDebut }} </h3>

                                </div>

                                <div class="icon">
                                    <i class="fa fa-clock-o a" aria-hidden="true"></i>
                                    {{s.id}}
                                </div>
                                <div class="card-box-footer">
                                    <ul class="social-links list-inline mb-0">
                                        <li class="list-inline-item bb">
                                            <a (click)="onOpenModal(s,'edit')" title="" data-placement="top"
                                                data-toggle="tooltip" class="tooltips bb"
                                                data-original-title="Facebook">
                                                <i class="fas fa-pencil-alt"></i></a>
                                        </li>
                                        <li class="list-inline-item ">
                                            <a title="" (click)="onOpenModal(s,'delete')" data-placement="top"
                                                data-toggle="tooltip" class="tooltips aa"
                                                data-original-title="Twitter"><svg xmlns="http://www.w3.org/2000/svg"
                                                    width="16" height="16" fill="currentColor" class="bi bi-trash"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                    <path fill-rule="evenodd"
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                </svg></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Notification de 0 recherche -->
                <div *ngIf="seances?.length === 0" class="col-lg-12 col-md-8 col-xl-8 zz">
                    <div class="alert alert-danger aaq" role="alert">
                        <h4 class="alert-heading"> Aucune seance !</h4>
                        <p>Aucune seance trouver !.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>




<!--  ********************************* Ajouter une Seance ******************************* -->


<div class="modal fade" id="addSeanceModel" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addEmployeeModalLabel">Ajouter une seance</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddSeance(addForm)">
                    <div class="form-group">
                        <label for="name">Date Debut </label>
                        <input type="datetime" name="heureDebut" ngModel class="form-control" placeholder="00:00:00" required #date="ngModel" 
                            min="2017-06-01T08:30" max="2017-06-30T16:30">
                        <span *ngIf="date.invalid && date.touched" class="help-block aa"> Date Fomat 00:00:00 ! </span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="add-seance-form" class="btn btn-danger"
                            data-dismiss="modal">Fermer</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Envoyer</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--  ********************************* Update  une Seance ******************************* -->


<div class="modal fade" id="updateSeanceModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addEmployeeModalLabel">Modifier une seance</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="name"> Date Debut </label>
                        <input type="datetime" class="form-control" name="heureDebut" ngModel
                            value="{{editSeance?.heureDebut}}" #date="ngModel" required>
                        <span *ngIf="date.invalid && date.touched" class="help-block aa"> Date Fomat 00:00:00 ! </span>
                        <input type="hidden" name="id" ngModel={{editSeance?.id}}>

                    </div>

                    <div class="modal-footer">
                        <button type="button" id="fermer-seance" class="btn btn-danger"
                            data-dismiss="modal">Fermer</button>
                        <button [disabled]="editForm.invalid" (click)="onUpdateSeance(editForm.value)"
                            class="btn btn-primary">Envoyer</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<!-- ********************* Delete Modal *********************** -->
<div class="modal fade" id="deleteSeanceModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Effacer seance ! </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Etes-vous sûr que vous voulez supprimer cette seance " <b class="b">{{deleteSeance?.heureDebut}}</b>
                    " ?
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="delete-form"
                        data-dismiss="modal">Annuler</button>
                    <button (click)="onDeleteSeance(deleteSeance?.id)" class="btn btn-danger"
                        data-dismiss="modal">Effacer</button>
                </div>
            </div>
        </div>
    </div>
</div>